{%extends 'base.html'%}
{% block content %}

<div class="container">
    <br>
    <br>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
        <div class="container row">
            <img src="{{image.image.url}}" class="img-responsive" alt="">
        </div>
    </div>

    <div class="row">
        <h1 class="text-center"><b>{{image.image_name}}</b></h1>
    </div>

    <br>
    <hr>
    <br>
    <div class="container">
        <div class="row">
            <p>{{image.caption}}</p>
        </div>
    </div>
    <br>
    <div class="gallery-item-info">
        <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true">{{likes|length}}</i> </li>
            <br>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i>{{comments|length}}</li>
        </ul>
    </div>
    <br>
</div>
<br>
<hr>
<br>
<div class="container">
    <div class="row">

        {% if comments %}
            <div class="col-md" >
                <h3 class="text-center" id="coms">Comments</h3>
                <br>

                {% for comment in comments %}
                    <h5><span style="font-weight:bolder;">@{{comment.user_id}}:</span>
                        &nbsp;&nbsp;{{comment}}
                    </h5>
                    <br>
                {% endfor %}

               </div>
           </div>
        {%else%}

        <div class="card w-90 mb-3">
            <div class="card-body">
              <p class="card-title text-center">No comments available.</p>
            </div>
        </div> 
        {%endif%}
</div>

{% endblock %}