{% extends 'base.html' %}

{% block content %}

<main role="main">
    <div>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="font-size:72px;" ><b>Django-Gram</b></h1>
                <br>
                <p class="lead text-muted"><i>The world's premier Instagram clone.</i></p>
                <br>
                <hr>
                <br>
            </div>
        </section>
    </div>
</main>
{% endblock %}